@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  --color-brand-primary: #28AADB;
  --color-brand-secondary: #64EAB6;
  --color-brand-tertiary: #183E9F;
  --color-brand-black: #0D162D;
  --color-brand-white: #FFFFFF;
  --color-brand-gray: #F6FCFF;
}

body {
  font-family: var(--font-nunito);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-open-sans);
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--color-brand-dark-blue);
}

h2 {
  font-size: 36px;
  font-weight: 800;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

h4 {
  font-size: 22px;
  font-weight: 600;
}

p, span {
  font-size: 16px;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #525252;
}

::-webkit-scrollbar-thumb {
  background: #5CA9AB;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5CA9AB;
}
